.button{
    background: linear-gradient(90deg, #835D23 0%, #B58130 100%);
    width: 200px;
    height: 50px;
    margin: auto;
    font-size: 16px;
    border-radius: 4px;
}

.button:hover{
    background: linear-gradient(90deg, #61451a 0%, #a0732a 100%);
    transition:ease-in;
}