.carousel .thumbs{
    text-align: center !important;
}

.carousel .control-dots .dot {
    background: #fff;
    width: 10px;
    height: 10px;
    margin: 0 4px;
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .carousel .control-dots .dot {
        width: 8px;
        height: 8px;
        margin: 0 2px;
    }
}